node_modules/
.DS_Store      # macOS Finder 产生的隐藏文件
.env           # 存放敏感信息的环境变量文件
dist/          # 构建输出目录 (例如，webpack 或 Vite 构建后的文件)
build/         # 构建输出目录
*.log          # 所有 .log 文件
tmp/           # 临时文件目录
/coverage      # 测试覆盖率报告目录
fun.txt
